<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="Viewport" content="Width=device-width, intial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>CHIQUE</title>
	<link rel="stylesheet" type="text/css" href="../static/Image/shop.css">
  </head>
  <body>
    <header class="header">
      <div class="header-1">
        <a href="/main" class="logo"><i class="fas fa-shopping-cart"></i>shique</a>

        <form action="" class="search-form">
          <input type="search" name="" placeholder="search here ....." id="search-box">
          <label for="search-box" class="fas fa-search"></label>
        </form> 

        <div class="right-menu">
          <div id="search-btn" class="fas fa-search"></div>
          <a href="#" class="fas fa-shopping-cart"></a>
          <a href="/logout" class="fas fa-user"></a>
        </div>
      </div>
    </header>
    <h2>women product</h2>
    <main>
      <div class="product">
        <img src="..\static\Image\w1.jpg" alt="Product 1">
        <h3>Women fleece jacket</h3>
        <p> 500 EGP </p>
        <a class="buy-button" href="#">Buy Now</a>
        <a class="sell-button" href="#">put it in cart</a>
      </div>
      <div class="product">
        <img src="..\static\Image\w2.jpg" alt="Product 2">
        <h3>Women 90s Boyfriend Medium Wash Denim Jacket</h3>
        <p>900 EGP</p>
        <a class="buy-button" href="#">Buy Now</a>
        <a class="sell-button" href="#">put it in cart</a>
      </div>
      <div class="product">
        <img src="..\static\Image\w3.jpg" alt="Product 3">
        <h3>American Eagle Women jacket</h3>
        <p>850 EGP</p>
        <a class="buy-button" href="#">Buy Now</a>
        <a class="sell-button" href="#">put it in cart</a>
      </div>
      <div class="product">
        <img src="..\static\Image\w4.jpg" alt="Product 4">
        <h3>American Eagle women texture puffer jacket</h3>
        <p>1200 EGP</p>
        <a class="buy-button" href="#">Buy Now</a>
        <a class="sell-button" href="#">put it in cart</a>
      </div>
      <div class="product">
        <img src="..\static\Image\w5.jpg" alt="Product 5">
        <h3>Women's Solid Cotton Jeans Wide Leg Pants - Light Blue</h3>
        <p>200 EGP</p>
        <a class="buy-button" href="#">Buy Now</a>
        <a class="sell-button" href="#">put it in cart</a>
      </div>
      <div class="product">
        <img src="..\static\Image\w6.jpg" alt="Product 6">
        <h3>Women thermo Pants</h3>
        <p>200 EGP</p>
        <a class="buy-button" href="#">Buy Now</a>
        <a class="sell-button" href="#">put it in cart</a>
      </div>
      <div class="product">
        <img src="..\static\Image\w7.jpg" alt="Product 7">
        <h3>Dali Women's Charleston Lycra High Jeans</h3>
        <p>$150 EGP</p>
        <a class="buy-button" href="#">Buy Now</a>
        <a class="sell-button" href="#">put it in cart</a>
      </div>
      <div class="product">
        <img src="..\static\Image\w8.jpg" alt="Product 8">
        <h3>Womens Basic Sweatpants Sweatpants</h3>
        <p>100 EGP</p>
        <a class="buy-button" href="#">Buy Now</a>
        <a class="sell-button" href="#">put it in cart</a>
      </div>
      <div class="product">
        <img src="..\static\Image\w9.jpg" alt="Product 9">
        <h3>Women's Skinny Jeans (Special Sizes) - Medium Blue</h3>
        <p>$200 EGP</p>
        <a class="buy-button" href="#">Buy Now</a>
        <a class="sell-button" href="#">put it in cart</a>
      </div>
    </main> 
    <section class="footer">
      <div class="box-continer">
        
        <div class="box">
          <h3>our locations</h3>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Alexandria-camp cesar</a>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Alexandria-agamy</a>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Alexandria-roshdy</a>
          <a href="#"><i class="fas fa-map-marker-alt"></i>Alexandria-smouha</a>
        </div>


        <div class="box">
          <h3>quick links</h3>
          <a href="/main"><i class="fas fa-arrow-right"></i>Home</a>
          <a href="/men"><i class="fas fa-arrow-right"></i>men clothes</a>
        </div>


        <div class="box">
          <h3>extra links</h3>
          <a href="#"><i class="fas fa-arrow-right"></i>payment methods</a>
          <a href="#"><i class="fas fa-arrow-right"></i>privacy policy</a>
          <a href="#"><i class="fas fa-arrow-right"></i>our services</a>
        </div>


        <div class="box">
          <h3>contact info</h3>
          <a href="#"><i class="fas fa-phone"></i>01254875955</a>
          <a href="#"><i class="fas fa-envelope"></i>shique@gmail.com</a>
        </div>
      </div>
      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
      </div>
      <p class="credit">Created by Abdelrahman Ashoor.© 2023</p>
    </section>
</html>    